<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [2]:
# Nama
# a. Print biasa
print("Hello, my name is Valencia Elcheiana Irawan")

# b. Menggunakan variabel
nama = "Valencia Elcheiana Irawan"
print("Hello, my name is " + nama)

# c. Menggunakan operator dan variabel
nama = "Valencia Elcheiana Irawan"
print(f"Hello, my name is {nama}")

# d. Menggunakan .format()
nama = "Valencia Elcheiana Irawan"
print("Hello, my name is {}".format(nama))

Hello, my name is Valencia Elcheiana Irawan
Hello, my name is Valencia Elcheiana Irawan
Hello, my name is Valencia Elcheiana Irawan
Hello, my name is Valencia Elcheiana Irawan

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [1]:
# Soal a
jumlah_kotak = 4
kelereng_per_kotak = 15
jumlah_teman = 12

total_kelereng = jumlah_kotak * kelereng_per_kotak
kelereng_per_teman = total_kelereng // jumlah_teman

print(kelereng_per_teman)

# Soal b
hasil = 8**(1/3)
print(hasil)

# Soal c
uang_catharina = 50000
harga_paket_kertas = 7500

jumlah_paket_kertas = uang_catharina // harga_paket_kertas
kembalian = uang_catharina % harga_paket_kertas

print("Jumlah paket kertas binder yang dapat dibeli Catharina:", jumlah_paket_kertas)
print("Kembalian yang diterima Catharina:", kembalian)

5
2.0
Jumlah paket kertas binder yang dapat dibeli Catharina: 6
Kembalian yang diterima Catharina: 5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [1]:
# Konversi
a="1000"
print(int(a), type(int(a)))
b=5.25
print(int(b), type(int(b)))
c=5
print(float(c), type(float(c)))
d=1000
print(str(d), type(str(d)))

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [6]:
string = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
# 1
print(string[20:31])

# 2
list_string = string.split()
print(list_string)

# 3
reversed_string = string[::-1]
print(reversed_string)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [21]:
# Fakultas
fakultas = ("School of Business Management",
"School of Creative Industry",
"School of Tourism",
"School of Medicine",
"School of Dental Medicine",
"School of Law",
"School of Psychology",
"School of Communication Science and Media Business",
"School of Entrepreneurship and Humanities",
"School of Information Technology",)

print("Jumlah fakultas di UC:", len(fakultas))

print("Posisi/index fakultas SIFT:", fakultas.index("School of Information Technology"))

Jumlah fakultas di UC: 10
Posisi/index fakultas SIFT: 9

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [8]:
# 1
favorit = ["Nasi Goreng", "Mie Ayam", "Sate"]

# 2
print(favorit[0])
print(favorit[1])
print(favorit[2])

# 3
print("Aku ingin pesan " + favorit[0])
print("Aku ingin pesan " + favorit[1])
print("Aku ingin pesan " + favorit[2])

# 4
favorit[1] = "Bakso"
print("Aku ingin mengganti pesananku jadi " + favorit[1])

Nasi Goreng
Mie Ayam
Sate
Aku ingin pesan Nasi Goreng
Aku ingin pesan Mie Ayam
Aku ingin pesan Sate
Aku ingin mengganti pesananku jadi Bakso

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [12]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
gabungan_set = set1.union(set2)
print("Gabungan set1 dan set2:", gabungan_set)

# 3
print("Apakah set1 dan set3 tidak mempunyai intersection?", not bool(set1.intersection(set3)))

# 4
print("Apakah set4 adalah bagian dari set1?", set4.issubset(set1))

Gabungan set1 dan set2: {1, 2, 3, 4, 6, 8}
Apakah set1 dan set3 tidak mempunyai intersection? True
Apakah set4 adalah bagian dari set1? True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [16]:
# Program Bayar Listrik
try:
  penggunaan_listrik = int(input("Masukkan jumlah penggunaan listrik (kWh): "))

  if penggunaan_listrik < 100:
    penggunaan_listrik = 100

  if penggunaan_listrik < 1000:
    tarif = penggunaan_listrik * 1000
  else:
    tarif = penggunaan_listrik * 2000
    tarif += tarif * 0.10

  print("Tarif yang harus dibayar: Rp", tarif)

except ValueError:
  print("Input harus berupa angka!")

Masukkan jumlah penggunaan listrik (kWh): 100
Tarif yang harus dibayar: Rp 100000

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [17]:
# Program Angkot Abdimas UC
try:
  jumlah_peserta = int(input("Masukkan jumlah peserta Abdimas Oweek UC: "))

  if jumlah_peserta < 0:
    print("Jumlah orang tidak bisa negatif!")
  else:
    jumlah_angkot = jumlah_peserta // 10
    if jumlah_peserta % 10 != 0:
      jumlah_angkot += 1
    print("Jumlah angkot yang diperlukan:", jumlah_angkot)

except ValueError:
  print("Input harus berupa angka!")

Masukkan jumlah peserta Abdimas Oweek UC: 12
Jumlah angkot yang diperlukan: 2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [2]:
import numpy as np

# 1
hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

In [3]:
# 2
hari_sorted = np.sort(hari)
print(hari_sorted)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [5]:
# 3
hari_random = np.random.choice(hari)
print(f"Selamat hari {hari_random} adalah hari baikmu bulan ini!")

Selamat hari Selasa adalah hari baikmu bulan ini!

In [6]:
# 4
matriks = np.random.randint(1, 7, size=(3, 4))
print(matriks)
print("Shape:", matriks.shape)
print("Dimensi:", matriks.ndim)

[[5 5 5 6]
 [5 6 5 1]
 [1 5 3 2]]
Shape: (3, 4)
Dimensi: 2

In [7]:
# 5
matriks_2 = np.array([[1, 2, 3, 4],
                     [5, 6, 7, 8],
                     [9, 10, 11, 12]])
kolom_ketiga = matriks_2[:, 2]
print("Elemen kolom ketiga:", kolom_ketiga)

Elemen kolom ketiga: [ 3  7 11]

In [8]:
# 6
matriks_reshape = matriks_2.reshape(2, 6)
print("Matriks reshape:", matriks_reshape)

Matriks reshape: [[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [12]:
import pandas as pd

# 1
series = pd.Series(["Information", "Systems", "for", "Business"])
print(series)
print ("")

# 2
data = { "brand": "Ford", "model": "Mustang", "year": 1964 }
df = pd.DataFrame(data, index=[0])
print(df)

0    Information
1        Systems
2            for
3       Business
dtype: object

  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [13]:
# 3
url = "https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"
df = pd.read_csv(url)

In [14]:
# 4
print(df['State'].unique())

['New York' 'California' 'Florida']

In [15]:
# 5
df_random = df.sample(n=10)
print(df_random.head())

    R&D Spend  Administration  Marketing Spend       State     Profit
32   63408.86       129219.61         46085.25  California   97427.84
24   77044.01        99281.34        140574.81    New York  108552.04
6   134615.46       147198.87        127716.82  California  156122.51
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02

In [16]:
# 6
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [17]:
# 7
california_data = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print(california_data)

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [18]:
# 8
print(df.isnull().sum())

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [19]:
# 9
df_filtered = df[df['Profit'] >= 50000]
print(df_filtered)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08

In [20]:
# 10
df_sorted = df.sort_values('Marketing Spend', ascending=False)
print(df_sorted)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
46    1315.46       115816.21        297114.46     Florida   49490.75
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
49       0.00       116983.80         45173.06  California   14681.40
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [3]:
# 1
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv')

In [4]:
# 2
print(df.sample(10))

      No  X1 transaction date  X2 house age  \
245  246             2013.417           7.5
13    14             2012.667          20.4
49    50             2012.667          29.4
378  379             2013.333          37.3
345  346             2012.667           0.0
296  297             2012.750          12.5
105  106             2012.833           0.0
332  333             2013.167          39.8
140  141             2013.250          16.2
351  352             2012.833           4.0

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
245                                639.6198                                5
13                                2469.6450                                4
49                                4510.3590                                1
378                                587.8877                                8
345                                185.4296                                0
296                               1144.4360                                4
105                                292.9978                                6
332                                617.7134                                2
140                                289.3248                                5
351                               2180.2450                                3

     X5 latitude  X6 longitude  Y house price of unit area
245     24.97258     121.54814                        40.8
13      24.96108     121.51046                        23.8
49      24.94925     121.49542                        13.2
378     24.97077     121.54634                        37.4
345     24.97110     121.53170                        37.9
296     24.99176     121.53456                        34.1
105     24.97744     121.54458                        71.0
332     24.97577     121.53475                        39.6
140     24.98203     121.54348                        51.4
351     24.96324     121.51241                        28.6

In [5]:
# 3
print(df.describe())

               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [6]:
# 4
df = df.drop('No', axis=1, errors='ignore')

# Step 5: Rename the columns
new_column_names = [
    'transaction_date',
    'house_age',
    'distance_to_the_nearest_MRT_station',
    'number_of_convenience_stores',
    'latitude',
    'longitude',
    'house_price_of_unit_area'
]
df.columns = new_column_names

In [7]:
# 5
print(df.isnull().sum())

transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convenience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64